#![no_main]

use libfuzzer_sys::fuzz_target;
use techalib::{indicators::${indicator_name}::${indicator_name}, types::Float};

fuzz_target!(|data: (${Test_Fuzz_Define_Signature})| {
    // TODO: INPUT ARGUMENTS
    let (${Test_Fuzz_Get_Inputs}) = data;
    ${Test_Fuzz_Set_Params}
    let _ = ${indicator_name}(${Test_Fuzz_Input_Fct});
});
